*.pyc
.ipynb_checkpoints
*.ipynb
*.swp
saved_models*
data_preprocessing*
processed_dataset*
*log*
*data*
results*
*dataset*
rog_script*
eval*
aps*
dvs*
ann_baseline*
.vscode
exports
vis
ddd20_processed_test